@charset "UTF-8";

/* Master of Arts in Graphic and Web Design Capstone Project
 * A Beautiful Threshold
 style.css
/*


/* Globals */

@font-face {
	font-family: "OptimaLTStd";
	src: url("fonts/OptimaLTStd.woff"),
		 url("fonts/OptimaLTStd.ttf");
}

html {
	box-sizing: border-box;
}

*,*:before, *:after {
	box-sizing: inherit;
}

html {
	background: #b0d5f0;
}

body {
	color: #221d3b;
	font-family: "OptimaLTStd", sans-serif;
}


/* Navigation */

.main-nav {
	/* border: 1px solid red; */
	color: #171837;
	letter-spacing: 0.1em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.main-nav img {
	/* border: 1px solid turquoise; */
	display: block;
	margin: 0 auto;
	margin-top: 1.618em;
	margin-bottom: 1.618em;
	width: 12%;
	height: auto;
}

.main-nav li img {
	display: block;
	margin: 0 auto;
	margin-top: 1.618em;
	margin-bottom: 1.618em;
	padding-left: 0.75em;
	width: 42%;
	height: auto;
}

.main-nav ul {
	/* border: 1px solid turquoise; */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
}

.main-nav li {
	/* border: 1px solid yellow; */
	transition: all 1s;
	opacity: 1.0;
}

.main-nav li a {
	color: #bf7372;
	text-decoration: none;
}

.main-nav li a:hover {
	color: #6d1a34;
	transition: all 1s;
}


/* Main Content */

.page-header img {
	/* border: 1px solid green; */
	display: block;
	margin: 0 auto;
	width: 14.7%;
	height: auto;
}

.main-content {
	/* border: 1px solid turquoise; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;
	margin: 0 auto;
	margin-top: 16.18em;
}


h1 {
	/* border: 1px solid green; */
	font-size: 3em;
	font-weight: lighter;
	letter-spacing: 0.1em;
	text-align: center;
	margin-bottom: 3.236em;
}

h2, h3, h4 {
	font-weight: lighter;
	letter-spacing: 0.05em;
	margin-top: 3.236em;
	margin-bottom: 1.618em;
}

.content-header h2 {
	font-size: 1.618em;
	letter-spacing: 0.1618em;
	margin: 0;
	margin-bottom: 3.236em;
	padding: 0;
}

blockquote, p {
	font-size: 1.2em;
	font-weight: lighter;
	letter-spacing: 0.05em;
	line-height: 1.618;
	margin-bottom: 3.236em;
}

sup {
	font-size: 0.1618em;
}

figure {
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 4.854em;
	width: 100%;
}

.figure-grid {
	/* border: 1px solid blue; */
	margin: 0 auto;
	margin-bottom: 4.854em;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.figure-grid img {
	margin-top: 1.618em;
	margin-bottom: 1.618em;
}

.logo-sketch-custom img {
	width: 26%;
	height: auto;
	margin: 9.25em;
}

.logo-sketch-custom {
	background-color: white;
	margin: 1.618em 0;
	width: 100%;
}

.logo-custom img {
	width: 24.25%;
	height: auto;
	margin: 9.25em;
}

.logo-custom {
	background-color: white;
	width: 100%;
}

.icon-custom img {
	width: 11.5%;
	height: auto;
	margin: 10.1em;
}

.icon-custom {
	background-color: white;
	width: 100%;
}


/* Page Footer */

.page-footer {
	margin: 0 auto;
	height: auto;
	width: 50%;
}

.page-footer a {
	font-size: 0.809em;
	transition: all 1s;
	opacity: 1.0;
	color: #bf7372;
	text-decoration: none;
}

.page-footer a:hover {
	color: #6d1a34;
	transition: all 1s;
}